.calendar-container {
  max-width: 1500px;
  max-height: 800px;
  margin-top: 200px;
  margin: 0 auto;
  height: 800px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 20px;
}

.sx-event {
  pointer-events: none;
}